<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="css/contact.css"> 
   
</head>

<body>
    <section class="contact_us">
        <div class="content">
            <h1>Contact Us</h1>
            <p>The purpose of our Login and Registration System is to provide the users an easier way to enter a
                website using authorization. Only those users, who have an account with us, will be able to
                access the site. New users can register themselves and avail the facility for the same. Its aim is to
                enhance the existing manual system using Django. Since, its software-based access, there would
                be a lesser chance of the data being corrupted and therefore it would be more secure and reliable.
                It can also ease the burden of the record keeping person as now they can concentrate on their
                other tasks rather than spending their time on record keeping, which will ultimately lead to better
                resource utilization. The aim of our project is to automate the whole login and registration
                process, without the need of any human interference using softwares. There would also be no
                need to store the credentials anywhere, as it would be automatically stored, securely in the
                backend.</p>
        </div>
            <div class="container">
                <div class="info">
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h2>Address</h2>
                            <p>Block 1,Chandigarh University<br>Chandigarh<br>140413</p>
                        </div>  
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h2>Phone</h2>
                            <p>787854XXXX</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h2>Email</h2>
                            <p>Dlog.in@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form  class="contact-form" id="my-form">
                        <h3>Send Message</h3>
                        <div class="inputbox">
                            <input type="text" name="" id="name" required>
                            <span>Full Name</span>
                        </div>
                        <div class="inputbox">
                            <input type="email" name="" id="email" required>
                            <span>Email</span>
                        </div>
                        <div class="inputbox">
                            <input type="text" name="" id="subject" required>
                            <span>subject</span>
                        </div>
                        <div class="inputbox">
                           <textarea id="message" required></textarea>
                            <span>type your messsage here...</span>
                        </div>
                        <div class="inputbox">
                            <input type="submit" name="" value="Send" class="submit">
                            
                        </div>
                       

                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    <script src="js/contact.js"></script>
</body>

</html>